@import url('https://fonts.googleapis.com/css?family=Quicksand|Shadows+Into+Light');


nav{
	background-color: #000;
	border: 1px black solid;
}

nav a{
	background-color: #000;
	color: #FFF;
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	float: left;
}

a:hover {
	color: #FCCBC6;
}


p{
	color: #757575;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: thin;
	margin-top: 20px;
	text-align: center;
	line-height: 1.5;
}

a{
	font-size: 30px;
	font-family: futura;
	color: #FFB4A6;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}


footer{
	background-color: #000;
	border: 1px black solid;
	padding: 20px;
}
h1{
	color: #505050;
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;
	text-align: center;
	padding: 20px;
	margin-top: 30px;

}

h2{
	color: #FFF;
	font-size: 20px;
	font-family: 'Shadows Into Light', cursive;
	font-weight: lighter;
	text-align: left;
	margin-bottom: 20px;
}
h3{
	color: #FFF;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	text-align: left;
	margin-bottom: 20px;
}
h4{
	color: #FFF;
	font-family: Futura;
	font-size: 20px;
}