@import url('https://fonts.googleapis.com/css?family=Quicksand|Shadows+Into+Light');


body{
	background-color: #FFB4A6;
	color: #FFF;
	font-family: 'Shadows Into Light', cursive;

}
h1{
	font-size: 60px;
	text-align: left;
	margin-top: 40px;
	margin-left: 40px;
}

img{
	width: 300px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}
p{
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: thin;
	margin-top: 20px;
	text-align: center;
}
a{
	color: #191C1A;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	
}
.boxed{
	background-color: #B8D1C1;
	
}
.boxed p{
	color: #FFF;
	font-family: 'Shadows Into Light', cursive;
	font-size: 30px;
	text-align: right;
	margin-right: 40px;
}
#slogan{
	color: #FFF;
	font-size: 40px;
	font-family: 'Shadows Into Light', cursive;
	font-weight: lighter;
	text-align: center;
	margin-top: 50px;

}



