@import url('https://fonts.googleapis.com/css?family=Lato:100|Inconsolata|Quicksand|Shadows+Into+Light|Kirang+Haerang|Playfair+Display|Ubuntu');

*{margin: 0; padding: 0; box-sizing: border-box;}

body {
	font-size: 20px;
}

nav{
	background-color: #FFF;
	padding: 1em;
}

nav a{
	background-color: #FFF;
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	text-decoration: none;
	display: inline-block;
	padding: 1%;
	float: left;
	
}

li a{
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	text-decoration: none;
	margin-left: 4%;
	margin-top: 1%;
	display: inline-block;
	letter-spacing: .05em;
	line-height: 1.5;

}

a:hover {
	color: #FCCBC6;
}



.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

#sec1{
	padding: 20px;
}

aside{
	float: left;
	color: #000;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	margin-left: 4%;
	margin-top: 20%;
	display: block;
	letter-spacing: 3px;
	width: 20%;

}

ul {
	list-style-type: none;
}


#right{
	float: right;
	width: 70%;
	margin: auto;
	padding: 20px;
}

h1{
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	letter-spacing: 10px;
	padding: 1em;
	font-weight: thin;
	text-align: center;
}
h5 {
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	padding: 1em;
	font-weight: thin;
	text-align: center;
}



img{
	width: 100%;
	padding: 1em;
}

#bottom {
	font-family: 'Playfair Display', serif;
	color: #000;
	width: 100%;
	text-decoration: none;
	font-size: 1.5em;
	padding: 1em;
	margin-bottom: 1em;
	float: none;
	display: inline-block;
	text-align: center;

}

#bottom:hover {
	color: #FCCBC6;
}

footer{
	background-color: #757575;
	padding: 20px;
}

h2{
	color: #FFF;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	font-weight: lighter;
	letter-spacing: 2px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 50px;
}
h3{
	color: #FFF;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	text-align: left;
	margin-bottom: 20px;
}
h4{
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

@media only screen and (max-width: 840px) {
	aside {
		display: none;
	}
	ul { 
	float: none;
	display: none;
}

	#right{
	float: right;
	width: 100%;
	margin-top: none;
	margin-bottom: 6%;
}


	img h1 h5 {
		width: 100%;
	}
}


@media only screen and (max-width: 480px) {
	nav a {
		float: none;
		display: block;
		font-size: .8em;
		padding: .5em;
	}

	aside {
		display: none;
		float: none;
	}

	#right {
		margin: none;
	}

	img {
		width: 100%;
	}
	
	

}










