@import url('https://fonts.googleapis.com/css?family=Lato:100|Inconsolata|Quicksand|Shadows+Into+Light|Kirang+Haerang|Playfair+Display|Ubuntu');

* {margin:0; padding:0; box-sizing: border-box;}

body {
	font-size: 20px;
}
nav{
	background-color: #FFF;
	padding: 1em;
}

nav a{
	background-color: #FFF;
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	text-decoration: none;
	display: inline-block;
	padding: 1%;
	float: left;
}

a:hover {
	color: #FCCBC6;
}

#sec1{
	padding: 7.5em 1em;
	max-width: 600px;
	margin: auto;
}

.profile{
	width: 15em;
	display: block;
	margin: auto;
	border-radius: 50%;
	padding: 2%;
}

h1{
	color: #333;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	text-align: center;
	line-height: 2;
	letter-spacing: .1em;
}

p{
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size: .75em;
	margin-top: 1.5em;
	line-height: 1.5;
	letter-spacing: .1em;
	text-align: left;
	

}


#three_column{

	background-color: #f6eaea;
	width: 100%;
	
}


.home_image_1, .home_image_2, .home_image_3{

	width: 33.33%;
	padding: 1em;
	float: left;
	

}



.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}


footer{
	background-color: #757575;
	padding: 1em;
}

h2{
	color: #FFF;
	font-size: 1em;
	font-family: 'Playfair Display', serif;
	font-weight: lighter;
	letter-spacing: .1em;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 2.5em;
}
h3{
	color: #FFF;
	font-size: .75em;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	text-align: left;
	margin-bottom: 1em;
}
h4{
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	font-size: .75em;
	font-weight: bold;
}

@media only screen and (max-width: 840px) {
	a {
		font-size: .7em;
	}
	h1{
		padding: 1%;
	}
	p {
		margin: 0 auto;
		padding: 1%;
	}
	
	.home_image_1, .home_image_2, .home_image_3 {
		width: 33.33%;
		padding: 1em; 
		float: left;

	}

}

@media only screen and (max-width: 480px){
	nav a {
		float: none;
		display: block;
		font-size: .8em;
		padding: .5em;
	}
	#sec1 {
		padding: 1em;
	}
	.profile {
		width: 50%;

	}
	h1 {
		
		padding: 1%;

	}
	p {
		
	}
	#three_column {
		width: 100%;
		background-color: #FFF;
	}
	.home_image_1, .home_image_2, .home_image_3 {
		width: 100%;
		margin: 0 auto 0;
		padding: 1em;
	}
	
}